@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* border: 2px solid black; */

}
body {
  background: linear-gradient(120deg, #25bdb8, lightgreen, pink, #25bdb8, lightgreen);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 120vh;
  /* width: auto; */
}
.container {
  /* background: linear-gradient(#ffa50088, #ffc0cb88, #00ffcc88); */
  background: linear-gradient(-40deg, pink, #00ffcc, lightyellow, pink, cyan, lightyellow);
  border-radius: 30px;
  /* box-shadow: blur(2px); */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  width: 718px;
  max-width: 100%;
  min-height: 380px;
  border: 1px solid gray;

}
.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
  font-weight: 600;
  /* border: 2px solid black; */
}
.container samp {
  font-size: 12px;
}
.container a {
  color: black;
  font-size: 17px;
  text-decoration: none;
  margin: 15px 0 10px;
  font-weight: 700;
  /* animation: text-color 5s linear infinite; */
}
.container button {
  background: linear-gradient(120deg, #68fffa, #ffc0cb);
  color: #000;
  font-size: 12px;
  padding: 10px 45px;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
}
.container button.hidden {
  background: linear-gradient(120deg, #fbbc47, #00ffcc);
  border: 2px solid #fff;
  color: white;

}
.container form {
  background: linear-gradient(120deg, #00ffcc, pink 50%, cyan 120%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}
.container input {
  background:#c6c6c6;
  border: 0.5px solid black;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.form-container .fp {
  font-size: 12px;
}
.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container.active .sign-in {
  transform: translateX(100%);
}
.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}
@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
.social-icons {
  margin: 20px 0;
}
.social-icons a {
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
}
.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
  border-radius: 150px 0 0 100px;
}
.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}
.toggle {
  /* background-color: #2d9ca8; */
  background: linear-gradient(20deg, #00ffcc, #ffc0cb, #ffa50044, cyan);

  height: 100%;
  /* background: linear-gradient(to right, #5c6bc0, #2d9ca8); */
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}
.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.toggle-left {
  transform: translateX(-200%);
}
.container.active .toggle-left {
  transform: translateX(0);
}
.toggle-right {
  right: 0;
  transform: translateX(0);
}
.container.active .toggle-right {
  transform: translateX(200%);
}

h1 {
  color: black;
}

h3 a {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 0 1.5px #ff2972;
  }
  15% {
    box-shadow: 0 0 0 1.5px #fee800;
  }
  30% {
    box-shadow: 0 0 0 1.5px #04fc43;
  }
  45% {
    box-shadow: 0 0 0 1.5px #fe00f1;
  }
  60% {
    box-shadow: 0 0 0 1.5px #00b0fe;
  }
  75% {
    box-shadow: 0 0 0 1.5px #01bdab;
  }
  90% {
    box-shadow: 0 0 0 1.5px #fea600;
  }
  100% {
    box-shadow: 0 0 0 1.5px #a529ff;
  }
}

@keyframes text-color {
  0% {
      color: #ff2972;
  }
  15% {
      color: #fee800;
  }
  30% {
      color: #04fc43;
  }
  45% {
      color: #fe00f1;
  }
  60% {
      color: #00b0fe;
  }
  75% {
      color: #01bdab;
  }
  90% {
      color: #fea600;
  }
  100% {
      color: #a529ff;
  }
}

img {
  position: relative;
  /* top: 20px; */
}

.ball {
  position: absolute;
  width: 300px;
  height: 300px;
  /* padding: 1px; */
  border-radius: 100%;
  border: 1px solid black;
  background: linear-gradient(#00ffcc, pink, #01bdab, pink);
  animation: bounce 2s ease-out forwards;
  transform: translateY(calc(-50vh - 116px));
  left: 800px;
  top: 70px;   
  z-index: -10000;
}

@keyframes bounce {
  5% {
    height: 300px;
    width: 300px;
  }
  10% {
    height: 300px;
    width: 280px;
  }
  15% {
    height: 280px;
    width: 320px;
    transform: translateY(0);
  }
  20%{
    height: 300px;
    width: 320px;
  }
  25% {
     transform: translateY(-200px);
  }
  30% {
    height: 300px;
    width: 300px;
  }
  35% {
    height: 300px;
    width: 280px;
  }
  40% {
    height: 280px;
    width: 320px;
    transform: translateY(0);
  }
  45%{
    height: 300px;
    width: 320px;
  }
  50% {
     transform: translateY(-160);
  }
  55% {
    height: 300px;
    width: 300px;
  }
  60% {
    height: 300px;
    width: 280px;
  }
  65% {
    height: 280px;
    width: 320px;
    transform: translateY(0);
  }
  70%{
    height: 300px;
    width: 320px;
  }
  75% {
     transform: translateY(-60px);
  }
  80% {
    height: 300px;
    width: 280px;
  }
  85% {
    height: 280px;
    width: 320px;
    transform: translateY(-20px);
  }
  90%{
    height: 300px;
    width: 320px;
  }
  100% {
     transform: translateY(-80%);
     transform: translateX(-50%);
  }
}

.ball__eyes {
  display: flex;
  gap: 60px;
  margin-top: 50px;
  justify-content: center;
}

.eye {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 3px;
  display: block;

}

.eye:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 100%;
  display: block;
}

.ball__mouth {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #000;
  margin: 10px auto;
  clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 50%);
  transition: .3s;
}

.eye_wrap {
  overflow: hidden;
  animation: blink 5s infinite;
  width: 30px;
  height: 30px;
  transform: translateY(-10px); /* Di chuyển mắt lên 10px */
  transition: .3s;;
}

#face, #ball {
  transition: .3s;
}

#ball.sad .eye_wrap:first-child {
  clip-path: polygon(67% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}

#ball.sad .eye_wrap:last-child {
  clip-path: polygon(0 0, 43% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
}

#ball.sad .ball__mouth {
  transform: scaleY(-1.05);
}

#ball.sad {
  animation: shake 1.5s;
}

@keyframes shake {
  0% {
      transform: rotateY(0);
  }
  25% {
      transform: rotateY(-15deg);
  }
  50% {
      transform: rotateY(15deg);
  }
  100% {
      transform: rotateY(0);
  }
}

@keyframes blink {
  0%, 100% {
      transform: scale(1, .05);
  }
  5%,
  95% {
      transform: scale(1, 1);
  }
}

.ball__shadow {
  background: rgb(0 0 0 / 5%);
  box-shadow: 0 0 10px rgb(0 0 0 / 6%);
  height: 20px;
  width: 240px;
  border-radius: 50%;
  transform: scale(0.1);
  animation: shrink 3s forwards;
}

@keyframes shrink {
  5%, 25%, 50%, 75% {
    transform: scale(0.1);
  }
  15%, 40%, 65%, 100% {
    transform: scale(1.1);
  }
}

#ball.look_at {
  transform: rotate(-17deg);
}

@media (max-width: 768px) {
  .form__animation {
    position: fixed;
    background: none;
    right: 0;
    bottom: 0;
  }

  .form__title {
    font-size: 28px;
  }

  .ball {
    width: 100px;
    height: 100px;
    animation: roll_out 1s ease-out forwards;
    transform: translate(103px, 0);
  }

  @keyframes roll_out {
    0% {
      transform: translate(103px, 0) rotate(0);
    }
    100% {
      transform: translate(0, 0) rotate(-360deg);
    }
  }

  .ball__eyes {
    gap: 12px;
    margin-top: 24px;
  }

  .ball__mouth {
    width: 20px;
    height: 20px;
    margin: -1px auto;
  }

  .eye, .eye_wrap {
    width: 20px;
    height: 20px;
  }
  .eye:before {
    width: 10px;
    height: 10px;
  } 

  .ball__shadow {
    display: none;
  }

  main {
    display: block;
    padding: 40px 16px;
  }

  .form {
    padding: 0;
    height: 100%;
  }

  .form__description {
    margin-bottom: 16px;
  }
  
  #face {
    transform: none !important;
  }
}



.stage {
  position: absolute;
  /* left: 0px; */
}